DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/aggregator
REDIS_URL=redis://localhost:6379/0
EVENTS_PROVIDER_BASE_URL=https://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=your-key-here
